body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  width: 50rem;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.button-container {
  bottom: 10px;
  left: 10px;
  display: flex;
}

.btn-cart {
  margin-left: auto;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-favorite {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.card img {
  width: 200px;
  height: auto;
  display: block;
  border-radius: 8px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #555;
}

.card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.toilet-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tablettes */
@media (max-width: 768px) {
  .card {
      width: 100%;
  }
}

/* Téléphones */
@media (max-width: 576px) {
  .card {
      padding: 10px;
  }

  .card h2 {
      font-size: 20px;
  }

  .card p {
      font-size: 14px;
  }

  .card button {
      padding: 8px 16px;
  }
}

/* Styles pour le bouton de panier en haut à droite */
.cart-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.cart-button:hover {
  opacity: 0.8;
}

.item-count {
  margin-left: 5px;
}

.card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.top-right-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-info {
  background-color: #17a2b8;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
}

.btn-info:hover {
  opacity: 0.8;
}
